.fixture-row,
.remove-button,
.remove-button-x,
.quantity-input {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.fixture-row {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  align-self: center;
  font-size: 1em;
  display: grid;
  grid-template-columns: 28px 1fr 88px;
  /* grid-template-rows: 1fr 1fr; */
  padding-top: 10px;
  padding-bottom: 10px;
  /* grid-template-areas:
    "x name changer"
    "x details changer"; */
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 1px 0;
}

.fixture-row-title {
  margin-bottom: 3px;
}

/* When on desktop, links underline on hover. */
@media (hover: hover) and (pointer: fine) {
  .fixture-row:hover {
    background-color: var(--accent-color);
  }

  .fixture-row-title:hover {
    text-decoration: underline;
  }
}

/* Make more buttony... */
.fixture-row-title,
.plus-minus-icon,
.remove-button-x {
  cursor: pointer;
}

.fixture-in-row-details {
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
  color: var(--dark-text-color);
}

.remove-button-container {
  align-self: center;
}
.remove-button,
.quantity-input input {
  background-color: transparent;
  color: var(--main-fg-color);
}

.remove-button {
  border-style: none;
  border-width: 0;
  border-radius: 50%;
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 0;
  vertical-align: center;
  display: inline-block;
}

.remove-button-x {
  margin: 0;
  width: 100%;
  height: 100%;
}
