/* Footer ----------*/
footer {
  background-color: var(--accent-color);
  height: 40px;
  width: 100%;
  justify-self: center;
  text-align: center;
}

.footer-container {
  display: inline-block;
  width: 100%;
  max-width: 560px;
}

#footer {
  padding-top: 5px;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr;
  text-align: center;
  background-color: var(--accent-color);
}
.footer-icon {
  height: 32px;
  width: 32px;
}

/* clicking on any child activates this div's onClick */
.child-clicks-this > * {
  pointer-events: none;
}
