/* Review/Summary page */
.selected-heading h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
}

.totals {
  text-align: center;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "kg amps"
    "power power";
}

.selected-heading {
  text-align: center;
}

.review-total {
  font-size: 3.5em;
}

.review-unit {
  font-size: 1.5em;
}
.review-unit sup {
  font-size: 0.5em;
}

.review-power {
  grid-area: power;
}

.review-weight {
  grid-area: kg;
}

.review-amps {
  grid-area: amps;
}
